.page {
  background-color: grey;
}

.navi{
  background-color: white;
}

.tittle {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

 .tittle:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
 }

.random {
  color:grey;
  padding: 5px;
}

.random:hover{
  color:black;
}

.jobs {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
 
.jobs:hover {
  color: lightgrey;
}

.post{
  margin-left: 5px;
}

.right {
  background-color: white;
  margin-top: 5%;
}

h1 {
  font-size: large;
}

.sous {
  color: grey;
}

.facebook {
  background-color: blue;
  padding: 5px;
}